/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    background: #1619d9;
    background-image: url(../img/bg.jpg);
    color: #f2f2f7;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    position: absolute;
    min-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.box {
    display: block;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
}

.box img {
    max-width: 95%;
}

.box-inner {
    position: relative;
    margin: auto;
    min-width: 400px;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* THE GIRL */

.front-links {
    text-align: right;
    padding-right: 2em;
}

.front-links a {
    color: #c8f7f7;
    padding: .4em;
    font-size: 18px;
    text-shadow: none;
}

.front-links a:hover {
    transform: translateY(-3px);
    color: #adfcff;
}

.intro-paragraph {
    font-family: "HK Grotesk";
}

.regular-p {
    font-family: "HK Grotesk";
    padding: 0 2em 0 2em;
    font-size: 14px;
    line-height: 22px;
}

.pic-me:hover {
    opacity: 0.8;
}

/* OOH */
.hidden-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../HKGrotesk-Regular.eot');
    src: url('../HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('../HKGrotesk-Regular.woff2') format('woff2'),
        url('../HKGrotesk-Regular.woff') format('woff'),
        url('../HKGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../HKGrotesk-Light.eot');
    src: url('../HKGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('../HKGrotesk-Light.woff2') format('woff2'),
        url('../HKGrotesk-Light.woff') format('woff'),
        url('../HKGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../HKGrotesk-Bold.eot');
    src: url('../HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('../HKGrotesk-Bold.woff2') format('woff2'),
        url('../HKGrotesk-Bold.woff') format('woff'),
        url('../HKGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Clearface';
    src: url('../ClearfaceBold.eot');
    src: url('../ClearfaceBold.eot?#iefix') format('embedded-opentype'),
        url('../ClearfaceBold.woff2') format('woff2'),
        url('../ClearfaceBold.woff') format('woff'),
        url('../ClearfaceBold.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
